*.o
*.out
*.a
*.d
*.tar
*.tar.gz
*.cmake
*.depend
*.pc
data/
test/
data/
tags
*log
*trace
*.sw*
fs_impl
fs_wrap
gen_layout
global
*.data
.txt
output/
benchmark/output/
*.os
depend
fs_impl*
tmp*
benchmark/result/
benchmark/filebench/result/
util/lfqueue/build/
io_counter
io_count_parser
libtree.so*
ez_debug.sh
kuk_test.sh
